<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="color: magenta; text-decoration: underline; font-weight: bold;">Awesome Team Two Flask App!</title>
</head>
<body>
    <header>
        <h1 style="color: magenta; text-decoration: underline; font-weight: bold;">Awesome Team Two Flask App!</h1>
    </header>

    <section>
        <h2>"Teamwork Makes the Dreamwork!" - George Washington Lincoln</h2>
        <img src="https://i.imgur.com/a1Wraco.jpg" alt="Direwolf">
        <p>Like a pack of Direwolves, specifically from the show Game of Thrones, we work together to do things, just like the wolves did in the show. Except for the part where they died we didn't do that but we helped each other, to live! </p>
    </section>

    <section>
        <h2 style="color: magenta; text-decoration: underline; font-weight: bold;">Am I My Brother's Keeper?</h2>
        <img src="https://i.imgur.com/UyrYGJe.jpg" alt="Ancient Rome">
        <p>Yes I am. Or Am I? I'm not sure if that's a quote from Caesar or one of the Apostles but either way, we have each other's backs. Unless it says to not do that, in which case it's every man for themself. But we helped each other, individually, together.</p>
    </section>
</body>
</html>
